name: CI Test Docker

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  docker-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Export API_KEY
      run: echo "API_KEY=${{ secrets.API_KEY }}" >> $GITHUB_ENV

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Install Docker Compose
      run: |
        sudo apt-get update
        sudo apt-get install -y docker-compose

    - name: Run CI Test Script
      run: |
        chmod +x ci-test.sh
        ./ci-test.sh

